body 		{ background-color: #000030;
		  margin-top: 5%;
		  padding: 2%;
		}
div.styleMiscBlock	{ 
			background-color: #c0b080;
			padding-top: 0%; padding-bottom: 1%;
			padding-left: 4%; padding-right: 2%;
}
div.styleDashboard  {
			background-color: #eae1ca; 
			height: 700px; 
			padding: 2%;
			color:  darkred;
			font-style: italic;
			font-size: 1.5em;
}
div.stylePostFrame	{
			background-color: #c0b080; 
			padding: 1%;
}
div.stylePostHeader	{
			border-style: outset; 
			border-radius: 5px; 
			background-color: #eae1ca;"
}
div.stylePostScrollBox	{
			height: 650px; 
			overflow-y: auto;	
}
div.styleMiscBlock2	{
			background-color: #c0b080; 
			height: 200px;
			margin-bottom: 4%; 
			padding: 3%;"
}
div.styleHeaderBox	{
			width: 80%; 
			padding-left: 2%; 
}
div.styleMiscFormBox	{
			margin: 3%;
			width: 40%; 
			padding-left: 5%;
	
}
div.styleCheckboxForm	{
			background-color: #e0e0e0;
			padding-left: 7%;
			padding-top:  1%;
			padding-bottom: 1%;	
}
div.styleComment	{
			background-color: #eae1ca; 
			padding-left: 1%; 
			padding-right: 1%; 
			border-style: solid; 
			border-radius: 5px; 
			border-width: thin;
}
li.styleNavbarMsg	{
			color: darkred; 
			text-align: right;
}
li.styleCreateDiscussion	{
			margin-left: 4%; 
			color: #F0F0F0;
}
nav.styleNavbar		{
			background-color: #e0d0b0;
}
h2					{
			padding-left: 5%; 
			padding-bottom: 2%; 
			font-weight: bold; 
			color: #F0F0F0;
}
h3					{
			padding-left: 5%; 
			padding-bottom: 2%; 
			font-weight: bold; 
			color: #F0F0F0;
}
h3.styleComment		{
			padding-top: 1%;
			padding-left: 5%; 
			padding-bottom: 2%; 
			font-weight: bold; 
			color: #101010;
}
h4					{
			padding-left: 5%; 
			padding-bottom: 2%; 
			font-weight: bold; 
			color: #F0F0F0;
}
h4.styleComment		{
			padding-top: 1%;
			padding-left: 5%; 
			padding-bottom: 0%; 
			font-size: 1.7em; 
			color: darkred;
}
h4.styleMessage 	{
			color: orange;
			font-weight: bold; 
			padding-left: 5%;
}
label.styleForm			{
			color: #E0E0E0;
}
button.styleComment	{
			background-color: #eae1ca; 
			border: none; 
			color: #5060e0; 
			font-size: smaller; 
			text-decoration: underline;	
}
input.styleComment {
			background-color: #e0d0b0;
			margin-bottom: 1%; 
}
textarea.styleComment	{
			background-color: #0d0b0;
}
p.styleCommentHeaderLeft	{
			text-align: left; 
			display: inline-block; 
			font-size: smaller; 
			margin-bottom: 0px;	
}
p.styleCommentHeaderRight	{
			text-align: right; 
			display: inline-block; 
			font-size: smaller; 
			margin-bottom: 0px;	
	
}
p.styleCommentTitle		{
			margin-bottom: 0px; 
			font-family: Times New Roman; 
			font-weight: bold; 
			font-style: italic;
}
p.styleCommentText		{
			margin-top: 0px; 
			font-size: smaller;
}
p.stylePostHeader		{
			text-align: left; 
			padding-top: 2%; 
			font-weight: bold; 
			font-size: 1.2em; 
			color: black; 
			display: inline-block;
}
p.stylePostHeaderTitle {
			padding-left: 2%;
			font-style: italic;
			font-size: 2em; 
			font-weight: bold;
			color: #006699;	
}
hr.styleComment		{
			margin-bottom: 0px; 
			margin-top: 2px;
}